<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Discover how much you pay in total taxes, broken down by tax type (income, property, sales, payroll, etc.) and government level (federal, state, local).">
    <meta name="author" content="">
    <title>Total Tax Burden</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.2.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <!-- Custom fonts for Creative template -->
    <link rel="stylesheet" href="webjars/font-awesome/5.6.3/css/all.min.css" th:href="@{/webjars/font-awesome/5.6.3/css/all.min.css}" type="text/css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' type='text/css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="webjars/Magnific-Popup/1.1.0/magnific-popup.css" th:href="@{/webjars/Magnific-Popup/1.1.0/magnific-popup.css}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/creative.min.css" th:href="@{css/creative.min.css}">
    <!-- Custom styles for TTB -->
    <link rel="stylesheet" href="css/ttb.css" th:href="@{css/ttb.css}">

    <!-- Begin Google AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8289164387686380",
        enable_page_level_ads: true
      });
    </script>
    <!-- End Google AdSense -->
</head>

<body id="page-top">

<nav class="navbar navbar-expand-md navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Total Tax Burden</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Welcome to Total Tax Burden!</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-10 mx-auto">
                <p class="text-faded mb-5">Nobody likes taxes. But do you know all the taxes you pay and how much?
                    It's really hard to get a complete picture of your tax burden because there are so many different
                    taxes imposed by agencies at every level of government.</p>
                <p class="text-faded mb-5">Here's a free and easy way to find out. Just answer some
                    simple questions and we'll create your Tax Burden Report&trade; with estimates for all the taxes you pay.
                    We value your privacy so we'll never ask you for any personally identifiable information.</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="/geo">Try it here &raquo;</a>
                <p></p>
            </div>
        </div>
    </div>
</header>

<!-- Resources Section -->
<section id="resources">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Types of Taxes</h2>
                <p>Do you know all the different types of taxes you pay?  You probably know a few, but there may be some you aren't aware of.</p>
                <p><a class="js-scroll-trigger btn btn-secondary" href="#types" role="button">Find out more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Tax Burden Report&trade;</h2>
                <p>Your Tax Burden Report&trade; provides a detailed list of all the taxes and the estimated amounts you will pay this year. Just give us some basic information and we'll do the rest.</p>
                <p><a class="js-scroll-trigger btn btn-secondary" href="#report" role="button">Find out more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Articles</h2>
                <ul>
                    <li>Coming Soon</li>
                </ul>
                <p><a class="js-scroll-trigger btn btn-secondary" href="#articles" role="button">See all &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div>
</section>

<!-- About Section -->
<section id="about" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-uppercase">About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <p>Our goal is to make make taxes imposed by government more transparent. We want make it easy to understand the taxes you pay and how they impact you and every citizen who pays them.
                    Government does a good job of hiding and obfuscating taxes and we want to help level the playing field.  We hope to play a part in helping citizens make informed decisions.</p>
                <p>We are not affiliated with any political party or organization.</p>
            </div>
        </div>
        <hr>
    </div>
</section>

<!-- Tax Types Section -->
<section id="types">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-uppercase">Types of Taxes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <p>You know about income taxes, you file your return every year.  You know about sales taxes if you look at your receipts.  And if you own a home
                you probably pay property tax each year.  But did you know you pay tax every time you fill up your tank with gas?
                And when was the last time you thought about the payroll taxes taken from your paycheck?</p>
                <h3>Income Tax</h3>
                <p></p>
                <h3>Sales Tax</h3>
                <p></p>
                <h3>Property Tax</h3>
                <p></p>
                <h3>Payroll Tax</h3>
                <p></p>
                <h3>Fuel Tax</h3>
                <p></p>
                <h3>Corporate Tax</h3>
                <p></p>
                <h3>Capital Gains Tax</h3>
                <p></p>
                <h3>Inheritance and Estate Tax</h3>
                <p></p>
                <h3>Alcohol and Tobacco Tax</h3>
                <p></p>
            </div>
        </div>
        <hr>
    </div>
</section>

<!-- Tax Types Section -->
<section id="report">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-uppercase">Tax Burden Report<small>&trade;</small></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <p>Your Tax Burden is based on:</p>
                <ul>
                    <li>How much income you earn and how you earn it</li>
                    <li>Where you live or own property and how much it is worth</li>
                    <li>How you save and spend your money</li>
                    <li>Your marital status</li>
                    <li>How many children or dependents you have</li>
                    <li>Other lifestyle choices</li>
                </ul>
                <p>Your Tax Burden is not based on your identity. We don't need your name, address, Social Security number, phone number, or email address - so we won't ask for them.</p>
                <p>With the inputs you provide, we calculate an estimate of all the taxes you'll pay during the current year and create a Tax Burden Report<small>&trade;</small> just for you.
                    The report shows how much of your income goes towards taxes. It lists the specific taxes you pay and details about the type (income, sales, property, etc.), the jurisdiction
                    (federal, state, county, etc.), and the amount. Here is a sample <a class="js-scroll-trigger" href="#sample">Tax Burden Report</a>.</p>
                <p>Use the report when making decisions on election day or try some 'what if' scenarios to compare the impact of a move or a job change.</p>
                <p>The values in your Tax Burden Report<small>&trade;</small> are <mark>ESTIMATES!</mark> The calculations we use take limited input, make assumptions, and exclude factors that have minimal impact
                or are not commonly occurring. Though we make no guarantees of accuracy, for most, the report will be a reasonable representation of the taxes you pay.
                    For those with special circumstances, or those whose situation is not reflected in the questions we ask, the report will be less accurate.
                </p>
                <p><a class="btn btn-primary btn-xl js-scroll-trigger" href="/geo">Get your Tax Burden Report &raquo;</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <i>
                <p class="small">Total Tax Burden assumes no responsibility or liability for any errors or omissions in the content of this site.
                    The information contained in this site is provided on an “as is” basis with no guarantees of completeness, accuracy, usefulness or timeliness, and without
                any warranties of any kind whatsoever, express or implied.</p>
                </i>
            </div>
        </div>
        <hr>
    </div>
</section>

<!-- Sample Report Section -->
<section id="sample">
    <div class="container bg-secondary">
        <div class="row">
            <div class="col-lg-12">
                <i><h2 class="section-heading text-uppercase">SAMPLE</h2></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="container">
                    <h3>Tax Payer Profile</h3>
                    <div class="row">
                        <div class="col-md-5">
                            <h4>Political Divisions</h4>
                            <table title="Political Divisions" class="table table-sm">
                                <tr>
                                    <td>Gwinnett County</td>
                                    <td>COUNTY</td>
                                </tr>
                                <tr>
                                    <td>Lilburn city</td>
                                    <td>CITY</td>
                                </tr>
                                <tr>
                                    <td>GA</td>
                                    <td>STATE</td>
                                </tr>
                                <tr>
                                    <td>US</td>
                                    <td>FEDERAL</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-5">
                            <h4>Tax Payer Data</h4>
                            <table title="Tax Payer Data" class="table table-sm">
                                <tr><td>Annual Income</td><td >$100000</td></tr>
                                <tr><td>Mortgage Interest</td><td >$5000</td>
                                <tr><td>Real Property Market Value</td><td >$300000</td>
                                <tr><td>Tax Filing Status</td><td >SINGLE</td></tr>
                                <tr><td>Pre-tax Contributions</td><td >$11000</td></tr>
                                <tr><td>Other Itemized Deductions</td><td >$2000</td></tr>
                                <tr><td>Dependents</td><td >4</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h3>Tax Burden Report</h3>
                    <div class="row">
                        <div class="col-md-10">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Political Division</th>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>United States</td>
                                    <td>PAYROLL_FEDERAL</td>
                                    <td>US Federal Payroll Social Security</td>
                                    <td style="text-align:right;">$6000.00</td>
                                </tr>
                                <tr>
                                    <td>United States</td>
                                    <td>PAYROLL_FEDERAL</td>
                                    <td>US Federal Payroll Medicare</td>
                                    <td style="text-align:right;">$1000.00</td>
                                </tr>
                                <tr>
                                    <td>Gwinnett County</td>
                                    <td>SALES_COUNTY</td>
                                    <td>Gwinnett County GA Sales</td>
                                    <td style="text-align:right;">$3374.14</td>
                                </tr>
                                <tr>
                                    <td>Gwinnett County</td>
                                    <td>PROPERTY_COUNTY</td>
                                    <td>Gwinnett County GA Property</td>
                                    <td style="text-align:right;">$3000.00</td>
                                </tr>
                                <tr>
                                    <td>Georgia</td>
                                    <td>SALES_STATE</td>
                                    <td>GA State Sales</td>
                                    <td style="text-align:right;">$1930.61</td>
                                </tr>
                                <tr>
                                    <td>Georgia</td>
                                    <td>FUEL_STATE</td>
                                    <td>State of Georgia Fuel Tax</td>
                                    <td style="text-align:right;">$380.74</td>
                                </tr>
                                <tr>
                                    <td>United States</td>
                                    <td>FUEL_FEDERAL</td>
                                    <td>US Federal Fuel Tax</td>
                                    <td style="text-align:right;">$214.16</td>
                                </tr>
                                <tr>
                                    <td>Georgia</td>
                                    <td>INCOME_STATE</td>
                                    <td>GA State Income</td>
                                    <td style="text-align:right;">$3710.00</td>
                                </tr>
                                <tr>
                                    <td>United States</td>
                                    <td>INCOME_FEDERAL</td>
                                    <td>US Federal Income</td>
                                    <td style="text-align:right;">$8111.46</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>TOTAL</td>
                                    <td style="text-align:right;">$27721.11</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <i><h2 class="section-heading text-uppercase">SAMPLE</h2></i>
            </div>
        </div>
        <p class="text-muted">&copy; 2019 Total Tax Burden</p>
    </div>
    <div class="container">
        <hr>
    </div>
</section>

<!-- Tax Types Section -->
<section id="articles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-uppercase">Articles</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <p>Coming soon</p>
            </div>
        </div>
        <hr>
    </div>
</section>

<section id="contact" class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-uppercase">Contact</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <p>Comments, questions, suggestions? <a class="email" href="mailto:info@totaltaxburden.com">info@totaltaxburden.com</a></p>
            </div>
        </div>
    </div>
</section>

<footer class="footer bg-dark">
    <div class="container">
        <p class="text-muted">&copy; 2019 Total Tax Burden</p>
    </div>
</footer>

<!-- Placed at the end of the document so the pages load faster -->
<script src="/webjars/jquery/3.3.1/jquery.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Plugin JavaScript -->
<script src="/webjars/jquery.easing/1.4.1/jquery.easing.min.js" th:src="@{/webjars/jquery.easing/1.4.1/jquery.easing.min.js}"></script>
<script src="/webjars/scrollreveal/4.0.5/dist/scrollreveal.min.js" th:src="@{/webjars/scrollreveal/4.0.5/dist/scrollreveal.min.js}"></script>
<script src="/webjars/Magnific-Popup/1.1.0/jquery.magnific-popup.min.js" th:src="@{/webjars/Magnific-Popup/1.1.0/jquery.magnific-popup.min.js}"></script>

<!-- Custom scripts for Creative template -->
<script src="js/creative.min.js"></script>

<th:block layout:fragment="scripts"></th:block>


</body>
</html>
