<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="Discover how much you pay in total taxes, broken down by tax type (income, property, sales, payroll, etc.) and government level (federal, state, local). How much do I pay in taxes? What is my tax burden?"/>
    <meta name="author" content=""/>
    <title>Total Tax Burden: The complete picture of how much you pay in taxes</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.2.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <!-- Custom fonts for Creative template -->
    <link rel="stylesheet" href="webjars/font-awesome/5.6.3/css/all.min.css" th:href="@{/webjars/font-awesome/5.6.3/css/all.min.css}" type="text/css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' type='text/css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' type='text/css'>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="webjars/Magnific-Popup/1.1.0/magnific-popup.css" th:href="@{/webjars/Magnific-Popup/1.1.0/magnific-popup.css}">

    <!-- Custom styles for this template -->
    <!--<link rel="stylesheet" href="css/creative.min.css" th:href="@{css/creative.min.css}">-->
    <!-- Custom styles for TTB -->
    <link rel="stylesheet" href="css/ttb.css" th:href="@{css/ttb.css}">

    <!-- Begin Google AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8289164387686380",
        enable_page_level_ads: true
      });
    </script>
    <!-- End Google AdSense -->
</head>

<body>

<nav class="nav navbar-light">
    <h5><a class="nav-link" href="/">Home</a></h5>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-9" layout:fragment="content">
            Page content goes here
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<footer class="footer mt-4">
    <div class="container">
        <p class="text-muted">&copy; 2019 Total Tax Burden</p>
    </div>
</footer>

<!-- Placed at the end of the document so the pages load faster -->
<script src="/webjars/jquery/3.3.1/jquery.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js" th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Plugin JavaScript -->
<script src="/webjars/jquery.easing/1.4.1/jquery.easing.min.js" th:src="@{/webjars/jquery.easing/1.4.1/jquery.easing.min.js}"></script>
<script src="/webjars/scrollreveal/4.0.5/dist/scrollreveal.min.js" th:src="@{/webjars/scrollreveal/4.0.5/dist/scrollreveal.min.js}"></script>
<script src="/webjars/Magnific-Popup/1.1.0/jquery.magnific-popup.min.js" th:src="@{/webjars/Magnific-Popup/1.1.0/jquery.magnific-popup.min.js}"></script>

<!-- Custom scripts for Creative template -->
<script src="js/creative.min.js"></script>

<th:block layout:fragment="scripts"></th:block>

</body>
</html>