<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>Total Tax Burden - Confirm Location</title>
</head>
<body>
<div layout:fragment="content">
	<h2>Selected Location</h2>
    <table class="table table-sm">
        <tbody>
        <tr>
            <td>Zip Code</td>
            <td th:text="${taxPayerProfile.postalCode}"></td>
        </tr>
        <tr>
            <td>Political Divisions</td>
            <td th:text="${taxPayerProfile.politicalDivisionKeys}"></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/geo" role="button">Choose another location</a>
    <a class="btn btn-primary" href="/report" role="button">Get my Tax Burden Report</a>
</div>
</body>
</html>