<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>Total Tax Burden: Select from multiple political jurisdictions</title>
</head>
<body>
<div layout:fragment="content">
    <h4>Your selected location spans multiple political boundaries, please select:</h4>
    <form action="#" th:action="@{/geomultiple}" th:object="${politicalDivisionSelectForm}" method="post">
        <div class="form-group mx-sm-3 mb-2">
            <!-- County -->
            <label for="selectCounty" th:if="${COUNTY}">County</label>
            <select th:if="${COUNTY}" th:field="*{selectedCounty}" id="selectCounty" class="form-control" required="required" autofocus="autofocus">
                <option value=""> Choose a County </option>
                <option th:each="county : ${COUNTY}"
                        th:value="${county.fips}"
                        th:utext="${county.name}"/>
            </select>
            <!-- City -->
            <label for="selectCity" th:if="${CITY}">City</label>
            <select th:if="${CITY}" th:field="*{selectedCity}" id="selectCity" class="form-control" required="required" autofocus="autofocus">
                <option value=""> Choose a City </option>
                <option th:each="city : ${CITY}"
                        th:value="${city.fips}"
                        th:utext="${city.name}"/>
            </select>
            <!-- State -->
            <label for="selectState" th:if="${STATE}">State</label>
            <select th:if="${STATE}" th:field="*{selectedState}" id="selectState" class="form-control" required="required" autofocus="autofocus">
                <option value=""> Choose a State </option>
                <option th:each="state : ${STATE}"
                        th:value="${state.fips}"
                        th:utext="${state.name}"/>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>
</body>
</html>