<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
    <title>Total Tax Burden - Select Location</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Choose Your Location</h1>
    <form action="#" th:action="@{/geo}" th:object="${taxPayerProfile}" method="post">
        <p>postalCode: <input type="text" th:field="*{postalCode}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>
</html>