<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <style type="text/css">
          #map{ width:700px; height: 500px; }
        </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiYDVMv2nhwh-pbtHGpymvNFSHSod8rpY"></script>
    <title>Total Tax Burden - Select Location</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Postal Code Form -->
                <h2>Enter Your Postal Code</h2>
                <form action="#" th:action="@{/geo}" th:object="${location}" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPostalCode" class="sr-only">Zip Code</label>
                        <input type="text" id="inputPostalCode" class="form-control" placeholder="Zip Code" th:field="*{postalCode}" required="required" autofocus="autofocus"/>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!-- Latitude/Longitude Form -->
                <h2>Chose Location from Map</h2>

                <!-- map -->
                <div id="map"></div>

                <form action="#" th:action="@{/geo}" th:object="${location}" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="lat" class="sr-only">Latitude</label>
                        <!--<input type="text" id="lat" readonly="yes"/><br/>-->
                        <input type="text" id="lat" class="form-control" placeholder="Latitude" th:field="*{coordinate.latitude}" required="required" autofocus="autofocus"/>
                        <label for="lng" class="sr-only">Longitude</label>
                        <!--<input type="text" id="lng" readonly="yes"/>-->
                        <input type="text" id="lng" class="form-control" placeholder="Longitude" th:field="*{coordinate.longitude}" required="required" autofocus="autofocus"/>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
                <script type="text/javascript" src="js/map.js"></script>
            </div>
        </div>
    </div>
</div>
</body>
</html>