<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <style type="text/css">
          #map{ width:700px; height: 500px; }
        </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiYDVMv2nhwh-pbtHGpymvNFSHSod8rpY"></script>
    <title>Total Tax Burden - Select Location</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Choose Your Location</h2>
    <form action="#" th:action="@{/geo}" th:object="${taxPayerProfile}" method="post">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPostalCode" class="sr-only">Zip Code</label>
            <input type="text" id="inputPostalCode" class="form-control" placeholder="Zip Code" th:field="*{postalCode}" required="required" autofocus="autofocus"/>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <!--map div-->
    <!--<div id="map"></div>-->

    <!--our form-->
    <!--<h2>Chosen Location</h2>-->
    <!--<form method="post">-->
        <!--<input type="text" id="lat" readonly="yes"/><br/>-->
        <!--<input type="text" id="lng" readonly="yes"/>-->
    <!--</form>-->

    <!--<script type="text/javascript" src="js/map.js"></script>-->
</div>
</body>
</html>