<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>Total Tax Burden - Set Attributes</title>
</head>
<body>
<div layout:fragment="content">
	<h2>Answer these questions:</h2>
    <form action="#" th:action="@{/report}" th:object="${taxPayerProfile}" method="post">
        <div class="form-group">
            <label for="annualIncome">Annual Income</label>
            <input type="text" id="annualIncome" th:field="*{annualIncome.amount}" class="form-control" placeholder="What is your annual income?" required="required" autofocus="autofocus"/>
        </div>
        <div class="form-group">
            <label for="mortgageInterest">Mortgage Interest</label>
            <input type="text" id="mortgageInterest" th:field="*{mortgageInterest.amount}" class="form-control" placeholder="How much mortgage interest do you pay per year?" required="required" autofocus="autofocus"/>
        </div>
        <div class="form-group">
            <label for="realPropertyMarketValue">Real Property Market Value</label>
            <input type="text" id="realPropertyMarketValue" th:field="*{realPropertyMarketValue.amount}" class="form-control" placeholder="What is the market value of all real estate you own?" required="required" autofocus="autofocus"/>
        </div>
        <button class="btn btn-primary" type="reset">Reset</button>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
</body>
</html>