<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/report}" th:object="${taxPayerProfile}" method="post">
    	<p>postalCode: <input type="text" th:field="*{postalCode}" /></p>
    	<p>politicalDivisionKeys: <input type="text" th:field="*{politicalDivisionKeys}" /></p>
    	<p>annualIncome: <input type="text" th:field="*{annualIncome.amount}" /></p>
    	<p>mortgageInterest: <input type="text" th:field="*{mortgageInterest.amount}" /></p>
        <p>realPropertyMarketValue: <input type="text" th:field="*{realPropertyMarketValue.amount}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form></body>
</html>