<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>Total Tax Burden - View Report</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h3>Tax Payer Profile</h3>
        <div class="row">
            <div class="col-md-5">
                <h4>Political Divisions</h4>
                <table title="Political Divisions" class="table table-sm">
                    <tr th:each="pd : ${taxPayerProfile.politicalDivisions}">
                        <td th:text="${pd.name}"></td>
                        <td th:text="${pd.type}"></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-5">
                <h4>Tax Payer Data</h4>
                <table title="Tax Payer Data" class="table table-sm">
                    <tr><td>Annual Income</td><td th:text="'$'+${taxPayerProfile.annualIncome.amount}" /></tr>
                    <tr><td>Mortgage Interest</td><td th:text="'$'+${taxPayerProfile.mortgageInterest.amount}" />
                    <tr><td>Real Property Market Value</td><td th:text="'$'+${taxPayerProfile.realPropertyMarketValue.amount}" />
                    <tr><td>Tax Filing Status</td><td th:text="${taxPayerProfile.taxFilingStatus}" /></tr>
                    <tr><td>Pre-tax Contributions</td><td th:text="'$'+${taxPayerProfile.preTaxContributions.amount}" /></tr>
                    <tr><td>Other Itemized Deductions</td><td th:text="'$'+${taxPayerProfile.otherItemizedDeductions.amount}" /></tr>
                    <tr><td>Dependents</td><td th:text="${taxPayerProfile.dependents}" /></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="container" th:unless="${#lists.isEmpty(taxBurdenReport.taxEntries)}">
        <h3>Tax Burden Report</h3>
        <div class="row">
            <div class="col-md-10">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Political Division</th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="te : ${taxBurdenReport.taxEntries}">
                        <td th:text="${te.politicalDivision.description}">DEFAULT</td>
                        <td th:text="${te.taxType}">DEFAULT</td>
                        <td th:text="${te.description}">DEFAULT</td>
                        <td th:text="'$' + ${te.amount.amount}" style="text-align:right;">DEFAULT</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>TOTAL</td>
                        <td th:text="'$' + ${taxBurdenReport.taxEntriesTotal.amount}" style="text-align:right;"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container" th:if="${#lists.isEmpty(taxBurdenReport.taxEntries)}">
        <h2>Tax Burden Report</h2>
        <p>No tax data available for your location. We're working on expanding our coverage, so check back later.</p>
    </div>
    <a href="/geo" class="btn btn-primary">Try again</a>
</div>
</body>
</html>