<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>Total Tax Burden - View Report</title>
</head>
<body>
<div layout:fragment="content">
	<h2>Tax Payer Profile</h2>
    <p th:text="'Postal Code: ' + ${taxPayerProfile.postalCode}" />
    <p th:text="'Political Divisions: ' + ${taxPayerProfile.politicalDivisions}" />
    <p th:text="'Annual Income: $' + ${taxPayerProfile.annualIncome.amount}" />
    <p th:text="'Mortgage Interest: $' + ${taxPayerProfile.mortgageInterest.amount}" />
    <p th:text="'Real Property Market Value: $' + ${taxPayerProfile.realPropertyMarketValue.amount}" />

    <div class="taxBurdenReport" th:unless="${#lists.isEmpty(taxBurdenReport.taxEntries)}">

        <h2>Tax Burden Report</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Political Division</th>
                <th>Tax Type</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="te : ${taxBurdenReport.taxEntries}">
                <td th:text="${te.politicalDivision.description}">DEFAULT</td>
                <td th:text="${te.taxType}">DEFAULT</td>
                <td th:text="'$' + ${te.amount.amount}">DEFAULT</td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/geo" class="btn btn-default">Try again</a>
</div>
</body>
</html>